[submodule "third_party/xo"]
	path = third_party/xo
	url = https://github.com/bmharper/xo
[submodule "third_party/tsf"]
	path = third_party/tsf
	url = https://github.com/IMQS/tsf.git
[submodule "third_party/uberlog"]
	path = third_party/uberlog
	url = https://github.com/IMQS/uberlog.git
[submodule "third_party/utfz"]
	path = third_party/utfz
	url = https://github.com/IMQS/utfz.git
[submodule "third_party/vcpkg"]
	path = third_party/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "third_party/phttp"]
	path = third_party/phttp
	url = https://github.com/bmharper/phttp
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "third_party/minizip"]
	path = third_party/minizip
	url = https://github.com/nmoinvaz/minizip.git
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/IMQS/argparse.git
